<ion-view view-title="Veille">
  <ion-content class="padding">
    <p>{{veille.title}}</p>
    <p>{{veille.description}}</p>
    <p>{{veille.firstname}}</p>
    <p>{{veille.date}}</p>
  </ion-content>
</ion-view>
